h1 {
    text-align: center;
    margin: 1% auto;
    font-family: Georgia, Helvetica;
}

h2 {
    text-align:center;
    font-size:18px;
    font-family: Georgia, Helvetica;
    margin: 1% auto;
}

.background-1 {
    background-color:rgb(0,0,0);
    padding:10px 0;  
    /*The reason why 10px has been written instead of 0px like other 
    background classes is preventing black background from sticking to h2 elements. */
    max-width: 500px;
    margin:1% auto;
}  

.background-1 p{
    text-align:center;
    font-size:14px;
    color:white;
    font-family: Georgia, Helvetica;
}    

.background-2 {
    background-color:rgb(255,255,255);
    max-width: 500px;
    margin:1% auto;
}

.background-2 p{
    text-align:center;
    font-size:14px;
    font-family: Georgia, Helvetica;
} 

.ribbon {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}

.red {
    background-color:rgb(255,0,0);
}

.green {
    background-color:rgb(0,255,0);
}

.blue {
    background-color:rgb(0,0,255);
}

.yellow {
    background-color:rgb(255,255,0);
}

.cyan {
    background-color:rgb(0,255,255);
}

.magenta {
    background-color:rgb(255,0,255);
}

.orange {
    background-color:rgb(255,127,0);
}

.springgreen{
    background-color:rgb(0, 255, 127);
}

.violet{
    background-color:rgb(127, 0, 255);
}

.chartreusegreen{
    background-color:rgb(127, 255, 0);
}

.azure{
    background-color:rgb(0, 127, 255);
}

.rose{
    background-color:rgb(255, 0, 127);
}

.background-3 {
    background-color: #f5ff12;
    max-width: 200px;
    margin: 1% auto;
}

.background-3 p {
    text-align: center;
    font-size:18px;
    font-family: Georgia, Helvetica;
}

.background-4 {
    background-color: hsl(0, 100%, 50%);
    padding: 50px 0;
    max-width: 200px;
    margin: 1% auto;
}

.background-4 p {
    text-align: center;
    font-size:18px;
    color:white;
    font-family: Georgia, Helvetica;
}

.gradients {
    background-color:rgb(255,255,255);
    max-width: 500px;
    margin:1% auto; 
}

.gradients p {
    text-align: center;
    font-size:14px;
    color: hsl(0, 0%, 100%);
    font-family: Georgia, Helvetica;
}

.green-red {
    background: linear-gradient(rgb(0,255,0),#f70013);
}

.green-red-90 {
    background: linear-gradient(90deg, rgb(0,255,0),#f70013);
}

.red-blue-green-90 {
    background: linear-gradient(90deg,hsl(0, 100%, 50%),hsl(240, 100%, 50%),hsl(120, 100%, 50%));
}

.RGB-90deg-75stop {
    background: linear-gradient(90deg,hsl(0, 100%, 50%) 75%,hsl(120, 100%, 50%),hsl(240, 100%, 50%));
    /*RGB name just states red, green and blue. Color values have been entered with HSL codes*/
    max-width: 200px;
    margin:1% auto;
}

.RGB-180deg-60stop {
    background: linear-gradient(180deg,hsl(0, 100%, 50%) 60%,hsl(120, 100%, 50%),hsl(240, 100%, 50%));
    /*There is no need for writing 180deg here but I'll write it for exercising purpose anyway.*/
    max-width: 200px;
    margin:1% auto;
}

.RGB-180deg-0-50-100stop {
    background: linear-gradient(180deg,hsl(0, 100%, 50%) 0%,hsl(120, 100%, 50%) 50%,hsl(240, 100%, 50%) 100%);
    /*There is no need for writing 0% 50% 100% as stop values here because 
    they are already default values. I'll write it for exercising purpose 
    anyway.*/
    max-width: 200px;
    margin:1% auto;
}

.border-shadow-opacity {
    text-align:center;
    font-size:14px;
    font-family: Georgia, Helvetica;
}

.border-shadow-opacity p {

}

.blue2 {
    background:linear-gradient(rgb(0,0,100),rgb(0,0,250,0.7),rgb(0,0,100));
}

.footer-styling {
    text-align:center;
    font-family: Georgia, Helvetica;
}

.footer-styling h3{
    font-size: 18px;
    margin-top:1%;
    margin-bottom: 1%;
}

.footer-styling p{
    font-size: 14px;
    margin:3px auto;
}

a {
    color:darkgreen;
}

a:visited {
    color:lightseagreen;
}

a:hover {
    color:lightseagreen;
    ;
}

a:active {
    color:white;
}